/Exercise01AscendingNumber.class
/Exercise02DecreasingNumber.class
/Exercise03Series300.class
/Exercise04Series500.class
/Exercise05SeriesStartEnd.class
/Exercise06OneSeriesMultiplyTable.class
/Exercise07MultiplyTable.class
/Exercise08FibonacciSeries.class
/Exercise09NumberFactor.class
/Exercise10GeneralFormula.class
/Exercise11PrimeNumber.class
/Exercise12ZeroOddEven.class
/Exercise13MeanMedianMode.class
/Exercise14Random.class
/Exercise15OrderAscendingDescending.class
/Exercise16SearchNumber.class
/Exercise17Transpose.class
/Exercise18MultiplicationMatrix.class
/Exercise19ScalarProduct.class
/Exercise20DotProduct.class
/Exercise21LimitMatrix.class
/Exercise23RotateMatrix.class
/Exercise23RotateMatrix2.class
/Excercise25FibonacciSeriesOnlyVariables.class
